<%= form_for @team do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :hometown %><br>
    <%= f. text_field :hometown %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>