<div id="outline" style="background-color:#1874CD; color:white;border:2px solid;border-radius:25px;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);border-color:black;">
<h1><%= @team.name %></h1>
<table>
  <tr>
    <th>Wins</th>
    <th>Last 10</th>
    <th>Streak</th>
</tr>
  <tr>
    <td><%= @team.wins %></td>
    <td><%= @team.l10 %></td>
    <td><%= @team.streak %></td>
  </tr>
</table>
<%= link_to("Click here to go to the list of teams", teams_path) %>
</div>