<div id="profile_name"><h3><%= @user.first_name %> <%= @user.last_name %></h3>
<p><%= @user.email %> </p>
<p><%= @team.name %> with the id of <%= @team.id %></p>
<%= image_tag avatar_url(user) %>
</div>  

