<!DOCTYPE html>
<html>
<head>
  <title>Nba</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<header>  
<div id='cssmenu'>
<ul>
   <li class='active'><%= link_to('Home', root_path)%></li>
   <li class='has-sub'><%= link_to('Teams', teams_path)%></a>
      <ul>
         <li class='has-sub'><%= link_to('Teams', teams_path)%></a>
            <ul>
               <li><a href='#'><span>Sub Item</span></a></li>
               <li class='last'><a href='#'><span>Sub Item</span></a></li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Product 2</span></a>
            <ul>
               <li><a href='#'><span>Sub Item</span></a></li>
               <li class='last'><a href='#'><span>Sub Item</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
  <%= display_login %>
  <% if user_signed_in? %>
  <li><%= link_to "Profile", current_user %></li>
  <% else %>
  <% end %>
</div>

</header>
<body>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
